*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100hv;
    
}

main{
    margin: auto;
    width: 500px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 70px;
}

form{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 20px;
    
}

input{
    width: 80px;
    display: block;
    height: 29px;
    margin-top: 5px;
    border: hsl(0, 0%, 86%) solid 1px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

input::placeholder{
    font-family: 'Poppins', sans-serif;
    text-indent: 15px;
    color: hsl(0, 1%, 44%);
    font-weight: 800;   
}

hr{
    width: 440px;
    margin-left: 0%;
    margin-top: 30px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: hsl(0, 0%, 86%) 1px solid;
}

.bimg{
    display: flex;
    margin-right: -20px
}

button{
    border-radius: 50%;
    border: none;
    background-color: hsl(259, 100%, 65%);
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-top: 5px;
}

button:focus{
    background-color: hsl(0, 0%, 8%);
}

img{
    height: 20px;
}

h1{
    margin: 0px;
    color: hsl(0, 0%, 8%);   
}

label{
    letter-spacing: 2px;
    font-size: xx-small;
    color: hsl(0, 1%, 44%); 
}

.detail{
    font-style: italic;
    font-size: xx-large;
}

span{
    color: hsl(259, 100%, 65%);
}

.formfield p{
    color: red;
    font-size: xx-small;
    margin: 0%;
}