*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
}

main{
    margin: auto;
    width: 80%;
    background-color: white;
    margin-top: 15%;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 100px;    
}

.container{
    margin: auto;
    padding: 10px;   
}

label{
    display: block;
    color: hsl(0, 1%, 44%);
    font-size: xx-small;
    letter-spacing: 2px;
}

input{
    width: 70%;
    text-indent: 10px;
    font-family: 'Poppins';
    border: hsl(0, 0%, 86%) solid 1px;
    height: 35px;
    margin-top: 5px;
    color: hsl(0, 0%, 8%);
    border-radius: 5px;    
}

.formfield p{
    color: red;
    font-size: xx-small;
    margin: 0%;
} 

.formbox{
    display: flex;   
}

.hr-line{
    flex-grow: 1;
    border-top: hsl(0, 0%, 86%) 1px solid;
}

.bimg{
    display: flex;
    align-items: center;
}

button{
    border-radius: 50%;
    border: none;
    background-color: hsl(259, 100%, 65%);
    width: 50px;
    height: 50px;
}

button:focus{
    background-color: hsl(0, 0%, 8%);
}

img{
    height: 20px;
}

.detail{
    font-style: italic;
    font-size: large;
    margin-top: -1rem;
}

.detail h1{
    color: hsl(0, 0%, 8%);
    margin-bottom: -1rem;
}

span{
    color: hsl(259, 100%, 65%);
}

